services:
  nginx:
    image: nginx:1.29.4-alpine3.23
    ports:
      # Проброс порта 80 из контейнера Nginx
      # на порт 8080 хоста.
      - "8080:80"
    volumes:
      - ./website:/usr/share/nginx/html
